html {
  scrollbar-width: thin;
  scrollbar-color: #b8b9c3 #1e1e1e;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1E1E1E;
}

::-webkit-scrollbar-thumb {
  background: #b8b9c3;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1;
}

body.active {
  overflow: hidden;
}

header .wrapper {
    background: #1E1E1E;
}

#colab .panel .circle-glass {
    height: 200%;
    filter: blur(200px);
}

#colab .service .circle-glass {
    filter: blur(70px);
}

#colab .glass .panel{
    border-radius: 15px;
}

.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  padding-bottom: 5px;
  background-color: transparent;
  font-size: 1rem;
  border-bottom: 1px solid #f1f1f1;
}

.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 0.875rem;
  color: #00ACBE;
}

.input-data input:focus, textarea:focus {
    outline: none;
}

.textarea textarea{
  resize: none;
  padding-top: 10px;
}

.input-data label{
  position: absolute;
  cursor: text;
  bottom: 10px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.textarea label{
  width: 100%;
  top: 0;
}

.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #00ACBE;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}

input:autofill {
    -webkit-box-shadow: 0 0 0 30px #1E1E1E inset !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #1E1E1E inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: #f1f1f1 !important;
}

#submit {
  transition: .3s;
}

#submit:hover {
  background-color: #f1f1f1;
  color: #00ACBE;
}

#submit:hover img {
  transform: translateX(7px);
  filter: brightness(0) saturate(100%) invert(67%) sepia(70%) saturate(6104%) hue-rotate(154deg) brightness(99%) contrast(101%);
}

.glass .service {
  transition: background-color 0.3s;
}

.glass .service.active {
  background-color: #00ACBE !important; 
}

header .menu-btn .line{
  background: #f1f1f1;
}

header.menu {
  background-color: #1E1E1E;
}