/* -------- Home Parallax -------- */

#house {
    transition: 0.7s;
}

#house.open {
    transform: translateX(10%);
}

#iarba {
    transition: 0.7s;
}

#iarba.open {
    transform: translateX(-10%);
}


/* -------- Colaboration -------- */

#colab .glass {
    perspective: 700px;
    background-color: transparent;
}

#colab .glass .panel{
    background: rgba(60, 60, 60, 0.5);
    border: 0.5px solid rgba(241, 241, 241, 0.5);
    backdrop-filter: blur(10px);

    border-radius: 25px;
    transform-style: preserve-3d;
    transition: 0.2s all;
}

#colab .arrow {
	width: 20px;
	height: 20px;
	background: transparent;
	border-top: 4px solid #F1F1F1;
	border-right: 4px solid #F1F1F1;
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;
    align-self: flex-end;
    cursor: pointer;
}

#colab .carousell, #colab .mobile {
    transition: .7s;
}

@media (min-width: 1024px) {
    #colab .arrow:hover {
        border-color: #00ACBE;
        box-shadow: 4px -4px 0 #F1F1F1;
    }
}

#colab .arrow.left {
    transform: translate3d(0,-50%,0) rotate(-135deg);
  }


#colab .arrow.right {
    transform: translate3d(0,-50%,0) rotate(45deg);
}

#colab .circle {
    background-color: transparent;
}

@media (min-width: 1024px) {
    #colab .circle:hover {
        background-color: #00ACBE;
        transition: all 200ms ease;
    }
}

#colab .circle.active {
    background-color: #00ACBE;
}   

#colab .panel .circle-glass {
    position: absolute;
    height: 100%;
    aspect-ratio: 1/1;
    background: rgba(0, 172, 190, 0.7);
    filter: blur(250px);
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
}

#colab .panel .circle-glass.open {
    opacity: 1;
    animation: circleGlass 0.5s;
}

#colab .panel .circle-glass.close {
    opacity: 0;
    animation: circleGlassReverse 0.5s;
}

@keyframes circleGlass {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes circleGlassReverse {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* -------- Services -------- */

.service .shape {
    transition: .8s all;
}

.service:hover .shape {
    transform: scale(9);
}

.service .arrow {
    transition: .5s;
}

.service:hover .arrow {
    transform: translateX(10px);
}


/* -------- Partners -------- */

#sponsors .circle.close {
    animation: closeCircle .5s;
}

#sponsors .circle.active {
    animation: openCircle .5s;
    opacity: 1;
}

@keyframes openCircle {
    from {transform: scale(0.3); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}

@keyframes closeCircle {
    from {transform: scale(1); opacity: 1;}
    to {transform: scale(0.3); opacity: 0;}
}

.partners.active {
    cursor: grabbing;
}

.partners::-webkit-scrollbar-track
{
	background-color: #5E5E5E;
    border-top: 2px solid #1E1E1E;
    border-bottom: 2px solid #1E1E1E;
}

.partners::-webkit-scrollbar
{
	height: 6px;
	background-color: #F5F5F5;
}

.partners::-webkit-scrollbar-thumb {
    background: #F1F1F1;
    opacity: 1;
}


/* -------- Project Flip Animation -------- */

.card{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
      -webkit-perspective: 1000px;
              perspective: 1000px;
  }
  
  .front,
  .back{
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
      background-position: center;
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      text-align: center;
      min-height: 25vh;
      height: auto;
      border-radius: 10px;
  }

  .card:hover .front,
  .card:hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .back{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }

  .back:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
  }
  
  .inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
  }
  
  .card .back{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .card .front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .card:hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .card:hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }

