/* -------- Home Shadow -------- */

#home .fp-overflow::after{
    position: absolute;
    content: '';
    top: 0px;
    height: 60%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(47, 104, 97, 0) 100%);
}

@media (min-width: 1024px) {
    #home .fp-overflow::after{
        top: auto;
        left: 0;
        height: 100%;
        width: 40%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 0%, rgba(47, 104, 97, 0) 100%);
    }
}


/* -------- Colaboration -------- */

#colab .carousell, #colab .mobile {
    transition: .7s;
}

@media (min-width: 1024px) {
    #colab .arrow:hover {
        border-color: #00ACBE;
        box-shadow: 4px -4px 0 #F1F1F1;
    }
}

@media (min-width: 1024px) {
    #colab .circle:hover {
        background-color: #00ACBE;
        transition: all 200ms ease;
    }
}

/* -------- Services -------- */

.service .shape {
    transition: .8s all;
}

.service:hover .shape {
    transform: scale(10);
}

.service .arrow {
    transition: .5s;
}

.service:hover .arrow {
    transform: translateX(10px);
}


/* -------- Partners -------- */

#sponsors .circle.close {
    animation: closeCircle .5s;
}

#sponsors .circle.active {
    animation: openCircle .5s;
    opacity: 1;
}

@keyframes openCircle {
    from {transform: scale(0.3); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}

@keyframes closeCircle {
    from {transform: scale(1); opacity: 1;}
    to {transform: scale(0.3); opacity: 0;}
}

.partners.active {
    cursor: grabbing;
}

.partners::-webkit-scrollbar-track {
	background-color: #5E5E5E;
    border-top: 2px solid #1E1E1E;
    border-bottom: 2px solid #1E1E1E;
}

.partners::-webkit-scrollbar {
	height: 6px;
	background-color: #F5F5F5;
}

.partners::-webkit-scrollbar-thumb {
    background: #F1F1F1;
    opacity: 1;
}

.front,
  .back{
      min-height: 20vh;
      height: auto;
  }

  #submit {
    transition: .3s;
  }
  
  #submit:hover {
    background-color: #f1f1f1;
    color: #00ACBE;
  }
  
  #submit:hover img {
    transform: translateX(7px);
    filter: brightness(0) saturate(100%) invert(67%) sepia(70%) saturate(6104%) hue-rotate(154deg) brightness(99%) contrast(101%);
  }