.building:hover .top {
    transform: translateY(-10px);
}    

.building:hover .right {
    transform: translateX(10px);
}   

.building:hover .left {
    transform: translateX(-10px);
}   

.building .home {
    transition: .3s;
}

.building button:hover img {
    transform: translateX(7px);
}

#heading.active {
    opacity: 0;
}

#heading {
    transition: .3s;
}

#footer .fp-overflow {
    height: auto !important;
}

#colab .glass .panel.mobile {
    backdrop-filter: blur(20px);
}

#colab .panel .circle-glass {
    height: 70%;
    aspect-ratio: 1/1;
    background: rgba(0, 172, 190, 0.7);
    filter: blur(250px);
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
}