.building:hover .top {
    transform: translateY(-10px);
}    

.building:hover .right {
    transform: translateX(10px);
}   

.building:hover .left {
    transform: translateX(-10px);
}   

.building .home {
    transition: .3s;
}

.building button {
    transition: .3s;
  }
  
  .building button:hover {
    background-color: #f1f1f1;
    color: #00ACBE;
  }
  
  .building button:hover img {
    transform: translateX(7px);
    filter: brightness(0) saturate(100%) invert(67%) sepia(70%) saturate(6104%) hue-rotate(154deg) brightness(99%) contrast(101%);
  }

#heading.active {
    opacity: 0;
}

#heading {
    transition: .3s;
}

#footer .fp-overflow {
    height: auto !important;
}

#colab .glass .panel.mobile {
    backdrop-filter: blur(20px);
}

#colab .panel .circle-glass {
    height: 70%;
    aspect-ratio: 1/1;
    background: rgba(0, 172, 190, 0.7);
    filter: blur(250px);
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
}